/*****************tru G Général ****************/
html,
body {
  font-family: "Raleway", Impact, "Aerial", sans-serif;
  margin: 0;
}

p {
  margin: 0px;
  margin-bottom: 7px;
  font-size: 17px;
}
.phe {
  font-size: 12px;
  flex: 1;
}
.p500 {
  padding: 25px 0 25px 0;
  margin-bottom: 20px;
}
.h3t {
  margin: -10px 0 10px 0;
}
.h3h {
  margin: 0;
  margin-bottom: 8px;
  font-size: 13px;
}
.euro {
  font-weight: bold;
}
.amh2 {
  margin-top: 100px;
}

.section_title {
  font-size: 20px;
}

.fa-star {
  color: #0065fc;
}
/*.container {
  max-width: 1200px;
  margin:  auto;
}*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex_centre {
  display: flex;
}
.flex_around {
  display: flex;
  /*justify-content: space-around;
  align-items: center;*/
}
.flex_between {
  display: flex;
  gap: 25px;
}
.lpp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decoration_none {
  text-decoration: none;
}
.bordure_none {
  border: none;
}
/* -------------------------Texte------------------------*/
.texte_gras {
  font-weight: bold;
}
.color_bleu {
  color: #0065fc;
}
.color_bleu_clair {
  color: #deebff;
}
.color_gris {
  color: #f2f2f2;
}
/*----------------------------- Background-----------------*/
.back_bleu {
  background-color: #0065fc;
}
.back_bleu_clair {
  background-color: #deebff;
}
.back_gris {
  /*background-color: #f2f2f2;*/
  background-color: #e9e9e9;
}
.back_gris2 {
  /*background-color: #f2f2f2;*/
  background-color: #e9e9e9;
}
/*----------------------Nav--------------------------------*/
header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: unset;
  padding: 37px 20px 0 20px;
  color: currentColor;
}
#ins {
  font-weight: bold;
  color: #0065fc;
  padding-right: 50px;
}
.hb-act:hover {
  color: #0065fc;
}

#logo img {
  margin: 25px 24px;
}

main {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.title-h1 {
  font-size: 23px;
  margin: 10px 0;

  font-weight: bold;
}

.subtitle {
  margin: 10px 0px;
}

.research-box {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 35px;
}

.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
}
.fa-map-marker-alt {
  font-size: 17px;
}

.research-bar {
  padding: 0 0 0 20px;
  height: 50px;
  width: 100%;
  border: none;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.research-bar::placeholder {
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 600;
}

.button-research {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

.button-research:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}

#icon-glass {
  display: none;
}

.filters h3 {
  font-size: 16px;
  display: inline;
}

.filters ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1px;
  font-size: 18px;
  margin-left: -7px;
}

.filters ul li {
  display: inline;
  margin-left: 25px;
  font-weight: 700;
  border: solid 2px #e2e2e2;
  padding: 0 20px 0 0;
  margin-top: 10px;
  border-radius: 200px;
}

.filters ul li:hover {
  cursor: pointer;
  background: #deebff;
  transition-duration: 0.25s;
}

.filters ul li:hover .icon-filter {
  background: white;
  transition-duration: 0.25s;
}

.icon-filter {
  background-color: #deebff;
  color: #0065fc;
  padding: 12px;
  border-radius: 221px;
  margin-right: 15px;
  font-size: 15px;
}
.filters {
  margin-top: -27px;
}

.info .fas {
  color: #0065fc;
  font-size: 17px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #d9d9d9;
  border-radius: 2000px;
  margin-right: 15px;
}

/*-----------------------------Header------------------- */
.bordure_search {
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
.padding_search {
  padding-left: 20px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: rgba(68, 67, 67, 0.884);
  font-weight: bold;
}
.icon_size {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.button_search {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
} /*-------------------------Filtres---------------------*/
.filtre {
  display: flex;
  align-items: center;
}
.marg_filtre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.marg_filtre_titre {
  margin-right: 20px;
}
.filtre_texte_icons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtre_texte_icons:hover > .filtre_texte {
  color: #0065fc;
}
.filtre_texte_icons:hover > .filtre_icons {
  color: white;
  background-color: #0065fc;
}
.filtre_texte {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
.filtre_icons {
  margin-left: -3px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
/*---------------------Info incon -----------*/
.info {
  display: flex;
  align-items: baseline;
}
.parent_icon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/*-------------Hébergement----------------*/
.size_hebergements {
  flex: 2;
  /*height: 650px;*/
  margin-right: 20px;
  border-radius: 10px;
}
.size_populaires {
  flex: 1;
  /*height: 650px;*/

  border-radius: 10px;
}

.img_hebergements1 {
  background-image: url("./src/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.img_hebergements2 {
  background-image: url("./src/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.img_hebergements3 {
  background-image: url("./src/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.img_hebergements4 {
  background-image: url("./src/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.img_hebergements5 {
  background-image: url("./src/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.img_hebergements6 {
  background-image: url("./src/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.bloc_hebergements {
  padding-right: 30px;
  padding-left: 40px;
}
/*-*/
.flex_column_centre {
  display: flex;
  flex-direction: column;
}
.flex_column_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3px;
  flex: 3;
  width: 305px;
}
.flex_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*cb*/
.cube_hebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 0.6%;
  border-radius: 20px;
}
.bloc1 {
  margin-bottom: 10px;
}
.bloc2 {
  margin-top: 10px;
}
.cube_details_hebergements {
  display: flex;
  flex-direction: column;
  padding: 7px 15px 7px 15px;
  font-size: 11.5px;
}
.fas.fa-star {
  color: #0065fc;
}
.fas.icon-d {
  color: #e9e9e9;
}
/*--------------------Populaire-----------*/
.bloc_populaires {
  padding-left: 20px;
  padding-right: 20px;
}
.bloc_populaires12 {
  margin-bottom: 22px;
}

.cube_populaires {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  padding: 6px;
}

.img1p {
  object-fit: cover;
  width: 125px;
  background-size: cover;
  background-position: center;
  border-radius: 13px 0 0 13px;
  aspect-ratio: 1 / 1;

  cursor: pointer;
}
.img2p {
  object-fit: cover;
  width: 125px;
  background-size: cover;
  background-position: center;
  border-radius: 13px 0 0 13px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.img3p {
  object-fit: cover;
  width: 125px;
  background-size: cover;
  background-position: center;
  border-radius: 13px 0 0 13px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
/*------------------------------Activités------------------------*/
.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}
.bloc_activites {
  width: 100%;
  height: 600px;
}
.img_activites1 {
  /*<div class=" blocActivites flexBetween2">*/
  background-image: url("./src/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites2 {
  background-image: url("./src/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;

  border-radius: 15px 15px 0 0;
}
.img_activites3 {
  background-image: url("./src/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg ");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;

  border-radius: 15px 15px 0 0;
}
.img_activites4 {
  background-image: url("./src/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites5 {
  background-image: url("./src/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites6 {
  background-image: url("./src/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.flex_between2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  display: flex;
  align-items: center;
}
/*------------------------Reglage bloc --------------------*/
.cube_activites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*-------------------Fin Reglage bloc--------------*/
.hauteur_titre {
  height: 70px;
}
.titre_activites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
/*---------------------footer------------------*/
.footer {
  /* height: 300px;*/
  margin-top: 100px;
  padding: 42px;
}
.footer_gap_alg {
  display: flex;
  flex: 1;
  gap: 20px; /*????*/
}
.taille_bloc_foot {
  height: 150px;
  flex: 1;
}
.marge_bloc_foot1 {
  flex: 1;
  margin-left: 5%;
}
/*.marge_bloc_foot3 {
  margin-right: 15%;
}*/
.lien_foot {
  color: black;
}

/* -----------------------------------------test essai---------------------*/
.marseille-cases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px;
  padding: 0 0 0 0;
}

.marseille-case {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  border-radius: 20px;
  border: 5px solid transparent;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.marseille-case:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.marseille-case > .marseille-case-img {
  width: 250px;
  height: 100px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
}

.marseille-case img {
  width: 100%;
  height: 100px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.marseille-case .case-text {
  margin: 5px;
}

.marseille-case .case-text .hotel-name {
  margin: 0;
}

.marseille-case .case-text .hotel-price {
  margin: 3px 0 3px 0;
}

.most-populars {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr;
  row-gap: 25px;
  height: 90%;
  width: 90%;
}

.most-populars .title-h2-and-icon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.most-populars .title-h2-and-icon h2 {
  margin: 0;
}

.most-populars i {
  font-size: 26px;
}

.most-popular {
  background-color: grey;
}

.most-popular-case-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.most-popular-case-img img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  min-width: 170px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}

.most-popular .case-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.most-popular .case-text .hotel-name {
  padding: 4px 0;
  margin: 0;
}

.most-popular .case-text .hotel-price {
  margin-top: 0;
  margin-bottom: 0;
}

.most-popular#popular-room1 {
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 7px 0 7px 7px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.most-popular#popular-room2 {
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 7px 0 7px 7px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.most-popular#popular-room3 {
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 7px 0 7px 7px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.marseille-activities {
  height: 550px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 0.3fr 0.3fr 0.3fr 0.3fr 2fr;
  grid-gap: 38px;
  grid-template-areas:
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6";
}

.marseille-activities .activity__full-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

.activity__full-card img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.marseille-activities .card__title {
  position: absolute;
  width: 95%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 5%;
  margin: 0;
  bottom: 0;
  font-size: 15px;
  color: black;
  font-weight: bold;
  width: 100%;
}

.englobe {
  height: 100%;
  margin: 0;
}
.englobe2 {
  height: 100%;
  margin: 0;
}

#activity-1 {
  grid-area: activity-1;
}
#activity-2 {
  grid-area: activity-2;
}
#activity-3 {
  grid-area: activity-3;
}
#activity-4 {
  grid-area: activity-4;
}
#activity-5 {
  grid-area: activity-5;
}
#activity-6 {
  grid-area: activity-6;
}

.marseille-activities .activity__full-card:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-blocs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: #e9e9e9;
}

.footer-bloc {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.footer-bloc > * {
  margin-bottom: 10px;
}
.contacter > a:hover {
  background-color: #c1d1e6;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-link:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.footer-bloc-assistance {
  margin-right: 20%;
}

@media screen and (min-width: 771px) {
  .hb-act:hover {
    border-top: 4px solid #206c9e;
  }
}

/*--------------------------------------------------*/
/*------------------Media screen telephone-----------*/
/*----------------------------------------------------*/
@media screen and (max-width: 770px) {
  main {
    width: 96%;
    max-width: 1440px;
    margin: 0px 40px 0px 11px;
  }
  .size_liens {
    width: 90%;
  }
  .size_lien12 {
    margin-left: 20%;
  }
  .filtre,
  marg_filtre {
    flex-wrap: wrap;
  }

  header {
    flex-direction: column;
    align-items: unset;
  }
  header nav {
    display: flex;
  }
  .hb-act {
    flex: 1;
    text-align: center;
    padding: 0 0 12px 0;
    border-bottom: 3px solid #ffebeb;
  }
  .hb-act:hover {
    border-bottom: 3px solid #206c9e;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }

  .cube_details_populaires {
    min-height: auto;
  }
  .img_hebergements1 {
    width: 100%;
    height: 210px;
  }
  .img_hebergements2 {
    width: 100%;
    height: 210px;
  }
  .img_hebergements3 {
    width: 100%;
    height: 210px;
  }
  .img_hebergements4 {
    width: 100%;
    height: 210px;
  }
  .img_hebergements5 {
    width: 100%;
    height: 210px;
  }
  .img_hebergements6 {
    width: 100%;
    height: 210px;
  }
  .bloc_activites {
    flex-direction: column;
    height: auto;
  }
  .cube_activites {
    width: 100%;
    margin-bottom: 50px;
  }
  .cube_populaires {
    display: flex;
  }
  .size_populaires.back_gris2.back_gris.bloc_populaires {
    width: 100%;
  }
}
/*--------------------------------------------------*/
/*------------------Media screen telephone down-----------*/
/*----------------------------------------------------*/

@media screen and (max-width: 770px) {
  .main {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .main2 {
    margin: 0px 25px;
  }

  #ins {
    position: absolute;
    top: 37px;
    right: 15px;
    padding: 0;
  }

  .research-box {
    position: relative;
  }

  .research-bar {
    width: 205px;
    height: 49px;
  }
  #button-research {
    display: none;
  }
  #icon-glass {
    display: block;
    position: absolute;
    right: 2px;
    border-radius: 15px;
  }
  .filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1px;
    font-size: 16px;
    margin-left: -25px;
  }
  .flex_centre {
    justify-content: left;
  }

  .blocs {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .bloc_hebergements {
    padding-left: 9px;
    margin-right: -5px;
  }
  .cube_hebergements {
    border: 4px solid transparent;
    box-shadow: 0px 0px 4px #0707072e;
    border-radius: 20px;
    width: 100%;
  }
  .cube_details_hebergements {
    padding: 7px 7px 7px 13px;
  }
  .title-h1 {
    margin: 36px 0px 9px 0px;
    font-size: 23px;
  }
  p {
    font-size: 15px;
  }

  h2 {
    padding-left: 11px;
  }
  .amh2 {
    padding-left: 19px;
  }
  .h3h {
    font-size: 15px;
  }
  .affp {
    margin: 37px 37px 36px 0px;
  }
  .amh2 {
    margin-top: 10px;
  }
  .back_gris2 {
    background-color: rgb(253 252 252);
  }
  .img_hebergements1 {
    height: 115px;
  }
  .img_hebergements2 {
    height: 115px;
  }
  .img_hebergements3 {
    height: 115px;
  }
  .img_hebergements4 {
    height: 115px;
  }
  .img_hebergements5 {
    height: 115px;
  }
  .img_hebergements6 {
    height: 115px;
  }
  .marseille-activities .card__title {
    box-sizing: border-box;
  }
  .marseille-activities {
    display: grid;
    margin: 2px 15px 2px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "activity-1"
      "activity-2"
      "activity-3"
      "activity-4"
      "activity-5"
      "activity-6";
    /**/
    /*height: 1450px;*/
    margin-bottom: 920px;
  }
  .activity__full-card img {
    height: 200px;
  }

  .flex_around {
    flex-direction: column-reverse;
  }
  .flex_column_around.size_hebergements.back_gris.bloc_hebergements {
    width: 90%;
  }

  /*----footer---*/
  .footer-blocs {
    display: inline-flex;
    flex-direction: column;
  }
  .footer-blocs .footer-bloc {
    padding: 10px 20px;
  }
  .footer {
    width: 100%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    background-color: #f2f2f2;
    padding-left: 15px;
  }

  .footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .footer-bloc > * {
    margin-bottom: 10px;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .footer-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }

  .footer-bloc-assistance {
    margin-right: 20%;
  } /*----footer---*/
}
