/*G Général */
html,
body {
  font-family: Raleway, Impact, "Aerial", sans-serif;
}

.flex_centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.decoration_none {
  text-decoration: none;
}
.bordure_none {
  border: none;
}
/* -------------------------Texte------------------------*/
.texte_gras {
  font-weight: bold;
}
.color_bleu {
  color: #0065fc;
}
.color_bleu_clair {
  color: #deebff;
}
.color_gris {
  color: #f2f2f2;
}
/*----------------------------- Background-----------------*/
.back_bleu {
  background-color: #0065fc;
}
.back_bleu_clair {
  background-color: #deebff;
}
.back_gris {
  background-color: #f2f2f2;
}
/*----------------------Nav--------------------------------*/
.size_nav {
  height: 100px;
}
.size_liens {
  width: 45%;
}
.size_lien {
  width: 140px;
  height: 99px;
}

.color_lien2 {
  color: black;
}
.bordure_nav {
  border-top: 1px solid blue;
}
.bordure_nav23 {
  border-top: 1px solid transparent;
}
.marg_logo {
  margin-bottom: 10px;
}
/*-----------------------------Header------------------- */
.bordure_search {
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
.padding_search {
  padding-left: 20px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.icon_size {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.button_search {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
} /*-------------------------Filtres---------------------*/
.filtre {
  display: flex;
  align-items: center;
}
.marg_filtre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.marg_filtre_titre {
  margin-right: 20px;
}
.filtre_texte_icons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtre_texte_icons:hover > .filtre_texte {
  color: #0065fc;
}
.filtre_texte_icons:hover > .filtre_icons {
  color: white;
  background-color: #0065fc;
}
.filtre_texte {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
.filtre_icons {
  margin-left: -3px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
/*---------------------Info incon -----------*/
.info {
  display: flex;
  align-items: center;
}
.parent_icon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/*-------------Hébergement----------------*/
.size_hebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}
.size_populaires {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
}
.img_hebergements1 {
  background-image: url("./src/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.img_hebergements2 {
  background-image: url("./src/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.img_hebergements3 {
  background-image: url("./src/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  height: 120px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.img_hebergements4 {
  background-image: url("./src/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.img_hebergements5 {
  background-image: url("./src/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  height: 120px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.img_hebergements6 {
  background-image: url("./src/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.bloc_hebergements {
  padding-left: 20px;
  padding-right: 20px;
}
/*-*/
.flex_column_centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_column_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*cb*/
.cube_hebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
}
.bloc1 {
  margin-bottom: 10px;
}
.bloc2 {
  margin-top: 10px;
}
.cube_details_hebergements {
  width: 90%;
}
.fas fa-star {
  color: blue;
}
/*--------------------Populaire-----------*/
.bloc_populaires {
  padding-left: 20px;
  padding-right: 20px;
}
.bloc_populaires12 {
  margin-bottom: 22px;
}

.cube_populaires {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}
.cube_details_populaires {
  width: 60%;
  padding-left: 5%;
}
.img_populaires1 {
  background-image: url("./src/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;

  border-radius: 15px 0 0 15px;
}
.img_populaires2 {
  background-image: url("./src/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");

  width: 35%;
  height: 160px;

  border-radius: 15px 0 0 15px;
}
.img_populaires3 {
  background-image: url("./src/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
/*------------------------------Activités------------------------*/
.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}
.bloc_activites {
  width: 100%;
  height: 600px;
}
.img_activites1 {
  /*<div class=" blocActivites flexBetween2">*/
  background-image: url("./src/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites2 {
  background-image: url("./src/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;

  border-radius: 15px 15px 0 0;
}
.img_activites3 {
  background-image: url("./src/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg ");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;

  border-radius: 15px 15px 0 0;
}
.img_activites4 {
  background-image: url("./src/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites5 {
  background-image: url("./src/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.img_activites6 {
  background-image: url("./src/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;

  border-radius: 15px 15px 0 0;
}
.flex_between2 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  display: flex;
  align-items: center;
}
/*------------------------Reglage bloc --------------------*/
.cube_activites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*-------------------Fin Reglage bloc--------------*/
.hauteur_titre {
  height: 70px;
}
.titre_activites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
/*---------------------footer------------------*/
.footer {
  height: 300px;
  margin-top: 100px;
}
.taille_bloc_foot {
  height: 150px;
}
.marge_bloc_foot1 {
  margin-left: 5%;
}
.marge_bloc_foot3 {
  margin-right: 15%;
}
.lien_foot {
  color: black;
}

/*------
.grid-activity {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "a, a"
    "b, b"
    "c, c"
    "d, d"
    "e, e"
    "f, f";
}
.grid-activity .card-activity {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: column;
}
.grid-activity .card-activity .card-img {
  height: 120px;
  overflow: hidden;
}
.grid-activity .grid-activity:nth-child(1) {
  grid-area: a;
}
.grid-activity .grid-activity:nth-child(2) {
  grid-area: b;
}
.grid-activity .grid-activity:nth-child(3) {
  grid-area: c;
}
.grid-activity .grid-activity:nth-child(4) {
  grid-area: d;
}
.grid-activity .grid-activity:nth-child(5) {
  grid-area: e;
}
.grid-activity .grid-activity:nth-child(6) {
  grid-area: f;
}
/**/
/*--------------------------------------------------*/
/*------------------Media screen telephone-----------*/
/*----------------------------------------------------*/
@media screen and (max-width: 770px) {
  .size_liens {
    width: 90%;
  }
  .size_lien12 {
    margin-left: 20%;
  }
  .filtre,
  marg_filtre {
    flex-wrap: wrap;
  }

  .header {
    word-break: break-word;
  }
  .bloc_hebergements {
    height: auto;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }
  .cube_hebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .cube_details_populaires {
    min-height: auto;
  }
  .bloc_activites {
    flex-direction: column;
    height: auto;
  }
  .cube_activites {
    width: 100%;
    margin-bottom: 50px;
  }
  .cube_populaires {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* M */
  .img_activites1,
  .img_activites2,
  .img_activites3,
  .img_activites4,
  .img_activites5,
  .img_activites6 {
    height: 200px;
  }
  /* M */
  .bloc_populaires {
    display: flex;
  }
  .size_populaires {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: space-around;
  }
}
/*--------------------------------------------------*/
/*------------------Media screen telephone down-----------*/
/*----------------------------------------------------*/
